@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding:0;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: #32E0C4;
}
nav {
    background-color: #EEEEEE;
    height: 100px;
    display: flex;
    padding: 20px 30px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px #908787;
}
.nav-branch {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 100px;
}
.nav-branch img {
    height: 100%;
}
.nav-branch h1 {
    font-size: 20px;
    color: #212121;
    font-weight: 700;
}
.nav-menu {
    margin-right: 60px;
}
.nav-menu ul {
    display: flex;
}
.nav-menu ul {
    list-style: none;
}
.list-item {
    margin: 10px 20px;
    font-size: 15px;
    padding: 10px 40px;
    border-radius: 20px;
}
.list-item a {
    color: #212121;
}
.list-item:hover {
    background-color: #212121;
    box-shadow: 0 3px 5px #726a6a;
}
.list-item:hover a {
    color: #EEEEEE;
    text-decoration: none;
}

